<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Learnova"
        android:icon="@drawable/file_00000000f3c48230ae6f57adba156a34"
        android:roundIcon="@drawable/file_00000000f3c48230ae6f57adba156a34"
        android:supportsRtl="true"
        android:theme="@style/Theme.Learnova">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
